body {
	background-color: #ffffff;
	font-family: "Georgia", "Times New Roman" ,Times,serif;
	color: #777777;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}


header {
	background-color: #ffffff;
	border-color: #cccccc;
	margin: 0 auto;
	}

form {
	font-family: arial;
	color:#777777;
	font-size:15px;
	/*line-height: 200%;*/

}

.wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	color: #4aaaa5;
}

#name {
	color: white;
	content: center;
	background-color: #4aaaa5;
	width: 150px;
	float: left;
	text-align: center;
	padding: 20px;
	margin-left: 75px;
	font-size: 22px;
}

#nav-list {
	color: white;
	background-color: #ffffff;
	width: 300px;
	float: left;
	text-align: right;
	font-family: arial;
	font-size: 13px;
	padding: 26px;
	position: relative;
	left: 260px;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float: left;
}

a {
	display: inline;
	padding: 8px;
	color: #777777;
}


section {
	clear: both;
	color: #4aaaa5;
}

/*br {
    display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 2px;
}*/

.full {
	background-image: url("../images/sayagata-400px.png");
}

#about-me {
	color: #4aaaa5;
	content: center;
	background-color: #ffffff;
	width: 360px;
	height: auto;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 75px;
	font-size: 20px;

}

.image1 {
	clear: both;
	/*display: inline-block;*/
	max-width: 200px;
	height: auto;
	margin-right: 10px;
	margin-bottom: 20px;

    }

#contact-me {
	color: #4aaaa5;
	content: center;
	background-color: #ffffff;
	width: 360px;
	height: 360px;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 75px;
	font-size: 20px;

}


p {
	color: #777777;
	font-family: arial;
	font-size: 12.3px;
}

#connect-me {
	color: #4aaaa5;
	content: center;
	background-color: #ffffff;
	width: 200px;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 25px;
	margin-top: 30px;
	font-size: 15px;
	
}

footer {
	clear: both;
	color: #ffffff;
	background-color:#666666;
	float: left;
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	font-size: 10px;
	padding: 25px;
	position: relative;
	bottom: 0;
}


h1 {
	clear: both;
	background-color: #333333;
	color: #efeee7;
	font-size: 28px;
	margin: 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	font-size: 24;
}



.container {
	width: 1024px;
	margin: 0 auto;
}

.full {
	clear: both;
}

@media screen and (max-width: 980px) {
	
	.wrapper {
		width: 960px;}
#about-me {
	color: #4aaaa5;
	/*color: blue;*/
	content: center;
	/*background-color: #ffffff;*/
	background-color: #ffffff;
	width: 300px;
	height: auto;
	float: left;
	text-align: left;
	padding: 30px;

	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 75px;
	font-size: 20px;
}

.image1 {
	clear: both;
	/*display: inline-block;*/
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;

    }

}



@media screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
	}

	#name {
	color: white;
	content: center;
	background-color: #4aaaa5;
	width: 150px;
	float: left;
	text-align: center;
	padding: 20px;
	margin-left: 75px;
	font-size: 22px;
}

#about-me {
	display: block;
	color: #4aaaa5;
	content: center;
	/*background-color: #ffffff;*/
	background-color: #ffffff;
	width: 600px;
	height: auto;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 75px;
	/*margin-right: 20px;*/
	margin-top: 30px;
	margin-bottom: 25px;
	font-size: 20px;
}

.image1 {
	clear: both;
	display: inline-block;
	width: 300px;
	height: auto;
	margin-right: 20px;
	margin-bottom: 20px;

    }

#connect-me {
	clear: both;
	display: block;
	color: #4aaaa5;
	content: center;
	background-color: #ffffff;
	width: 600px;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 75px;
	font-size: 20px;
}

p {
	color: #777777;
	font-family: arial;
	font-size: 16px;
}



}


@media screen and (max-width: 640px) {
	
	header {position: static;}

.wrapper {
		width: 600px;
		margin: 0;
	}

	#name {
	margin: 0;
	color: white;
	content: center;
	background-color: #4aaaa5;
	width: 640px;
	/*float: left;*/
	text-align: center;
	padding: 20px;
	
	font-size: 35px;
}

#nav-list {
	margin: 0;
	color: white;
	background-color: #ffffff;
	width: 640px;
	float: left;
	content: center;
	margin-right: 70px;
	text-align: center;
	font-family: arial;
	font-size: 20px;
	padding: 20px;
	position: relative;
	/*left: 260px;*/
	
}

#about-me {
	display: block;
	color: #4aaaa5;
	color: blue;
	content: center;
	/*background-color: #ffffff;*/
	background-color: #ffffff;
	width: 450px;
	height: auto;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 30px;
	margin-bottom: 25px;
	font-size: 30px;
}

.image1 {
	clear: both;
	/*float: left;*/
	content: center;
	max-width: 100%;
	height: auto;
	/*margin-right: 20px;*/
	margin-bottom: 20px;
	margin-right: 120px;

    }

#connect-me {
	clear: both;
	display: block;
	color: #4aaaa5;
	content: center;
	background-color: #ffffff;
	width: 450px;
	float: left;
	text-align: left;
	padding: 20px;
	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 75px;
	font-size: 20px;
}

p {
	color: #777777;
	font-family: arial;
	font-size: 16px;
}

}

